// Base
@import "base/variables";
@import "base/typography";

// Components
@import "components/buttons";
@import "components/links";

// Layout
@import "layout/header";
@import "layout/footer";

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

h1 {
  color: purple;
}
