/* ==== Layout/Body ==== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  max-width: $layout-desktop;
  @media (max-width: 1440px) {
    max-width: 100%;
  }
  margin: 0 auto;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 80px 0;
  border: 1px solid paleturquoise;
}
