/* ==== Layout/Body ==== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  max-width: $layout-desktop;
  @media (max-width: 1440px) {
    max-width: 100%;
  }
  margin: 0 auto;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 80px 0;
  overflow: hidden;
}

/* Snippets Section */
.snippets {
  display: flex;
  padding: 80px 0;
  justify-content: center;

  &-image {
    position: relative;
    right: 160px;
  }

  &-text {
    display: flex;
    max-width: 30%;
    align-items: center;

    ul {
      list-style-type: none;
    }
  }
}

/* Clipboard Section */
.clipboard {
  display: flex;
  justify-content: center;
  padding: 80px;
}

/* Tools Section */
.tools {
  display: flex;
  text-align: center;
  padding: 80px 0;

  &-blacklists {
    flex: 1;
    padding: 0 18px;
  }

  &-text {
    flex: 1;
    padding: 0 18px;

    img {
      padding: 8px 0 0 0;
    }
  }

  &-preview {
    flex: 1;
    padding: 0 18px;

    img {
      padding: 8px 0 0 0;
    }
  }
}

.companies {
  display: flex;
  justify-content: space-between;
  padding: 60px 0;

  &-logos {
    align-content: center;
  }
}
