/* ==== Layout/Body ==== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  max-width: $layout-desktop;
  margin: 0 auto;

  @media (min-width: 375px) {
    max-width: 100%;
  }
}

.container {
  display: flex;
  flex-direction: column;
  padding: 80px 0;
  overflow: hidden;
  @media (max-width: $layout-mobile + 1px) {
    padding: 0 18px;
  }
}

/* Snippets Section */
.snippets {
  display: flex;
  padding: 80px 0;
  justify-content: center;
  @media (min-width: 320px) and (max-width: 480px) {
    flex-direction: column;
  }

  &-image {
    position: relative;
    right: 160px;
    @media (max-width: $layout-mobile + 1px) {
      max-width: 100%;
      right: 0;
    }
  }

  &-text {
    display: flex;
    max-width: 30%;
    align-items: center;
    @media (max-width: $layout-mobile + 1px) {
      text-align: center;
      max-width: 100%;

      h3 {
        font-size: 24px;
        padding: 60px 0 0;
      }
    }

    ul {
      list-style-type: none;
    }
  }
}

/* Clipboard Section */
.clipboard {
  display: flex;
  justify-content: center;
  padding: 80px 0;
  @media (max-width: $layout-mobile + 1px) {
    img {
      max-width: 100%;
    }
  }
}

/* Tools Section */
.tools {
  display: flex;
  text-align: center;
  padding: 80px 0;

  &-blacklists {
    flex: 1;
    padding: 0 18px;
  }

  &-text {
    flex: 1;
    padding: 0 18px;

    img {
      padding: 8px 0 0 0;
    }
  }

  &-preview {
    flex: 1;
    padding: 0 18px;

    img {
      padding: 8px 0 0 0;
    }
  }
}

.companies {
  display: flex;
  justify-content: space-between;
  padding: 60px 0;

  &-logos {
    align-content: center;
  }
}
