/* ==== Components/Buttons ==== */

.buttons-wrapper {
  display: flex;
  justify-content: center;
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: $base-font-weight;
  line-height: normal;
  text-align: center;
  text-decoration: none;
  padding: 20px 0;

  @media (min-width: 320px) and (max-width: 480px) {
    flex-direction: column;
  }
}

.button {
  @extend .buttons-wrapper;
  margin: 12px;
  padding: 12px 24px;
  border-radius: 48px;
  color: #fff;
  @media (max-width: $layout-mobile + 1px) {
    flex: 1;
  }
}

.green-button {
  background-color: $primary-color-strong-cyan;
  box-shadow: 0 2px 0 2px rgba(darken($primary-color-strong-cyan, 10%), 1),
    0 8px 16px 8px rgba($primary-color-strong-cyan, 0.24);

  &:hover {
    background-color: lighten($primary-color-strong-cyan, 10%);
  }
}

.blue-button {
  background-color: $primary-color-light-blue;
  box-shadow: 0 2px 0 2px rgba(darken($primary-color-light-blue, 10%), 1),
    0 8px 16px 8px rgba($primary-color-light-blue, 0.24);

  &:hover {
    background-color: lighten($primary-color-light-blue, 10%);
  }
}
