/* ==== Typography ====  */

// Font weights
$regular: 400;
$bold: 600;

//  Base Font
@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap");

$base-font-family: "Bai Jamjuree", sans-serif;
$base-font-weight: $regular;
$base-font-size: 18px;

//  Headings
$header-font-weight: $bold;

body {
  font-family: $base-font-family;
  color: $neutral-color-grayish-blue;
  font-weight: $base-font-weight;
  font-size: $base-font-size;
  line-height: normal;
}

h1,
h3 {
  font-weight: $header-font-weight;
  color: $neutral-color-dark-grayish-blue;
  padding: 18px 0;
}

p {
  padding: 18px 0;
}
